head
     script(src='./js/bundle.js')
     script(src='.js/threeExtras/TextGeometry.js')
     script(type='text/javascript').
        document.addEventListener('deviceready', function(){
        console.log("Cordova is initialized and ready!");
        }, false);
     link(rel='stylesheet', href='./css/styles.css')
     link(rel='manifest' href='./manifest.json')
