$font-stack:    Helvetica, sans-serif;
$primary-color: #921;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
* {
   margin: 0;
   padding: 0;
   overflow-y: hidden; // hide vertical
overflow-x: hidden; // hide horizontal
}